@font-face {
    font-family: "Orange Juice";
    src: url('font1.ttf') format("truetype");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
	color: #ffffff;
	font-family: "Courier New", Courier, monospace;
}

body {
	background: #000000 url('background.jpg') no-repeat bottom left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.hello {
	font-family: "Orange Juice", "Courier New", Courier, monospace;
	font-size: 400%;
	margin-left: 55px;
	margin-top: 5%;
	margin-bottom: 0px;
}

.name{
	font-family: "Orange Juice", "Courier New", Courier, monospace;
	font-size: 150%; 
	margin-left: 10px;
	margin-top: -10px;
}

.description {
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	margin-left: 90px;
}

.tags {
	color: #999999;
	font-family: "Comic Sans Ms", Arial, monospace;
	font-size: 75%;
}