<!DOCTYPE html>
<html>

<head>
    <title>NXNet</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/isteven-multi-select.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/isteven-multi-select.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="nxnet">
    <div ng-controller="VeiculoBatchesCtrl">
        <div>
            <h1>{{title}}</h1>
            Empresas: <isteven-multi-select 
                input-model="empresas" 
                output-model="selectedEmpresas" 
                button-label="nome" 
                item-label="nome"
                tick-property="ticked">
            </isteven-multi-select>
            <br>
            <button ng-click="filter()">Filtrar</button>
        </div>
        <div>
            <table>
                <tr ng-repeat="veiculo in veiculos">
                    <td>{{ veiculo.prefixo }}</td>
                    <td>{{ veiculo.placa }}</td>
                    <td>{{ veiculo.empresa }}</td>
                    <td>{{ veiculo.fornecedor }}</td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>